@using BudgetApp.Models
@model List<Transaction>
@{
    ViewData["Title"] = "Transactions";
    Layout = "_Layout";
}

<h2>Transactions</h2>
<main>
    <div class="container">
        <div>
            <button class="btn btn-primary" data-url="@Url.Action("Create", "Transactions")"
                    data-bs-target="#addTransactionModal" data-bs-toggle="modal" id="btn-create">Add Transaction
            </button>
            <p class="text-danger">@TempData["ErrorMessage"]</p>
            <p class="text-success">@TempData["SuccessMessage"]</p>
            <form class="form-control" method="get" asp-action="Index">
                <div class="form-group">
                    <input type="text" name="description" class="form-control-sm"/>
                </div>
                <div class="form-group">
                    <select name="categoryId" class="form-select">
                        <option value="">Select a Category</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Description)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Category)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Amount)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Date)</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var transaction in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => transaction.Description)</td>
                            <td>@transaction.Category.Name</td>
                            <td>@transaction.Amount.ToString("C0")</td>
                            <td>@Html.DisplayFor(modelItem => transaction.Date)</td>
                            <td>
                                <a class="btn btn-primary" data-url="@Url.Action("Edit", "Transactions")"
                                   data-bs-target="#addTransactionModal" data-bs-toggle="modal"
                                   data-id="@transaction.Id" id="btn-operation">Edit</a>
                                <a class="btn btn-danger" data-url="@Url.Action("Delete", "Transactions")"
                                   data-id="@transaction.Id" data-bs-target="#deleteTransactionModal"
                                   data-bs-toggle="modal" id="btn-operation">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr class="d-table-row">
                        <td><strong>Total: @Model.Sum(t => t.Amount).ToString("C0")</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>
<div id="addTransactionModal" tabindex="-1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-success modal-header text-white">
                <h4 class="modal-title">Add Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="modal-body-content">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="deleteTransactionModal" tabindex="-1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-danger modal-header text-white">
                <h4 class="modal-title">Delete Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="modal-body-content">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editTransactionModal" tabindex="-1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-info modal-header text-white">
                <h4 class="modal-title">Edit Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="modal-body-content">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}